div.banner{
    background: url("/img/aboutBg.png") center center no-repeat;
    text-align: center;
    color: #3f3f3f;
}
div.banner h1{
    font-weight: normal;
    font-size: 64px;
    padding-top:200px;
    padding-bottom: 20px;
}
.bt {
    color: #151515;
    font-size: 46px;
    height: 73px;
    position: relative;
    text-align: center;
    margin-bottom: 42px;
  }
  .bt:after {
    content: "";
    display: block;
    width: 35px;
    height: 6px;
    position: absolute;
    right: 50%;
    margin-right: -17px;
    bottom: 0;
    background-color: #23963b;
  }

.tab-cont {
    width: 100%;
  }
  .tab-cont .nav {
    width: 1008px;
    height: 40px;
    background-color: #acacac;
    margin: 0 auto;
    margin-bottom: 122px;
  }
  .tab-cont .nav li {
    /* width: 250px; */
    width: 25%;
    padding-top: 4px;
    position: relative;
    cursor: pointer;
    margin:inherit;
  }
  .tab-cont section {
    display: none;
    width: 1200px;
    margin: 0 auto;
  }
  .tab-cont .one {
    display: block;
  }
  .nav li h1 {
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .nav li p {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .nav li .nav-bg {
    width: 250px;
    height: 48px;
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;
    background: url("../img/line-icon2.png") repeat-x center center;
    background-size: 100% 100%;
    display: none;
  }
  .nav li .nav-bg.show {
    display: block;
  }
.tab-cont section.one{
    width: 100%;
}
.one div{
    text-align: center;
}
.one div p{
    font-size: 16px;
    color:#6e6e6e;
    line-height: 40px;
}
.one div.map{
    margin-top: 60px;
    margin-bottom: 44px;
}
.one  img.Block{
    display: block
}
.one div.qywh{
    width: 100%;
    height: 125px;
    background:#23963b;
    position: relative;
    margin-bottom: 16px;
}
.one div.qywh:before{
    content: '';
    position: absolute;
    left:50%;
    margin-left: -14px;
    bottom: -30px;
    width:0;
    height:0;
    border-top:16px solid #23963b;
    position: absolute;
    border-bottom:16px solid transparent;
    border-right:16px solid transparent;
    border-left:16px solid transparent;
}
.one div.qywh h2{
    font-size: 38px;
    color:#fff;
    padding:25px 0 0 0;
}
.one div.qywh p{
    font-size: 20px;
    color:#fff;
}
.one div.qywhBox{
    padding-bottom: 78px;
}
.one div.qywhBox dl.list-right{
    float: right;
}
.one div.qywhBox dl.list-left{
    display: inline-block;
    text-align: left;
    font-size: 18px;
}
.one div.qywhBox  .bt{
    text-align: left;
    font-size: 36px;
    color:#282828;
}
.one div.qywhBox .bt:after{
    left:0;
}

.tab-cont section.two{
    width: inherit;
    padding-bottom: 80px;
}
.two div.cont_news{
    max-width: 1512px;
    /* width: 1200px; */
    height: 620px;
    margin: 0 auto;
    overflow: hidden;
    background:url("/img/bgRepeat.png") repeat-x;
    background-position-y:14px;
}
.two div.cont_news ul.newList {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.two div.cont_news ul.newList li {
    width: 24%;
    height: 506px;
    display: inline-block;
    float: left;
    margin:0 0.2%;
    position: relative;
    padding-top: 136px;
}
.two div.cont_news ul.newList li img.BgTit{
    width: 100%;
    height: 213px;
    display: inline-block;
    position: absolute;
    top: 0px;
}
.two div.cont_news ul.newList li div.newCont{
    width: 270px;
    height: 370px;
    margin: 0 auto;
    background:#fff;
    position: relative;
    z-index: 2;
    text-align: center;
}
.two div.cont_news ul.newList li div.newCont p span{
    font-size: 24px;
    color:#3c3a3a;
    font-weight: normal;
}
.two div.cont_news ul.newList li div.newCont p{
    padding-top: 52px;
}
.two div.cont_news ul.newList li div.newCont p.newList_cont{
    color: #a2a2a2;
    font-size: 14px;
    font-weight: normal;
    padding:0 8px;
    padding-top: 22px;
}
.two div.cont_news ul.newList li div.newCont b.B_line{
    border:#44b25b solid 2px;
    display: inline-block;
    width: 102px;
    position: absolute;
    bottom: 0px;
    left:50%;
    margin-left: -51px;
}
div.BtnBox{
    margin-top: 65px;
}
.tab-cont section.three{
    height: 1132px;
    width: inherit;
    background:url("/img/joinOurBg.png") center top / cover no-repeat;
}