.bt{
		color:#151515;
		font-size:46px;
		height:73px;
		position:relative;
		text-align:center;
		margin-bottom:42px;
		&:after{
			content:"";
			display:block;
			width:35px;
			height:6px;
			position:absolute;
			right:50%;
			margin-right:-17px;
			bottom:0;
			background-color:#23963b;
		}
	}
.zy{
	margin-bottom:120px;
	&:after{
		content:"";
		display:block;
		clear:both;
	}
	dt{
		width:520px;
		height:420px;
		float:left;
		margin-right:181px;
	}
	dd{
		.bt{
			font-size:32px;
			color:#888888;
			text-align:right;
			&:after{
				right:0px;
				margin-right:0px;
				
		}
		}
		p{
			color:#6e6e6e;
			text-align:right;
			line-height:42px;
		}
	}
}
.duan{
	text-align:center;
	color:#7a7a7a;
	margin-bottom:130px;
	p{
		line-height:40px;
	}
}
.tab-cont{
	width:100%;
	.nav{
		width:1091px;
		height:40px;
		background-color:#acacac;
		margin:0 auto;
		margin-bottom:127px;
		li{
			width:250px;
			padding-top: 4px;
			position:relative;
			cursor:pointer;
		}

	}
	section{
		display:none;
		width:1200px;
		margin:0 auto;
	}
	.four{
		display:block;
	}
}
.nav li h1 {
  font-size: 16px;
  color: #fff;
  position:relative;
  z-index:2;
}
.nav li p {
  color: #fff;
  position:relative;
  z-index:2;
}
.nav li .nav-bg{
	width:250px;
	height:48px;
	position:absolute;
	left:0;
	top:-3px;
	z-index:1;
	background:url("../img/line-icon2.png") repeat-x center center;
	background-size:100% 100%;
	display:none;
}
.nav li .nav-bg.show{
	display:block;
}
.one .one-top{
	margin-bottom:170px;
	&:after{
		content:"";
		display:block;
		clear:both;
	}
}
.one .top-left{
	width:556px;
	height:663px;
	float:left;
}
.one .top-right{
	float:right;
	padding-right:22px;
	.bt{
		text-align:right;
		&:after{
			right:22px;
			margin-left:0;
		}
	}

	p{
		font-size:16px;
		color:#6e6e6e;
		line-height:43px;
		text-align:right;
	}
}
.one-bottom{
	margin-bottom:130px;
	&:after{
		content:"";
		clear:both;
		display:block;
	}
	.bottom-list{
		width:282px;
		height:502px;
		background-color:#fff;
		float:left;
		position:relative;
		margin-right:18px;
		position:relative;
		&:after{
			content:"";
			width:30px;
			height:5px;
			background-color:#23963b;
			position:absolute;
			left:14px;
			top:18px;
			z-index:2;
		}
		.black-bg{
			width:282px;
			height:502px;
			background-color:#000;
			opacity:.7;
			position:absolute;
			left:0;
			top:0;
			z-index:1;
		}
		.list-txt{
			width:282px;
			height:502px;
			position:absolute;
			left:0;
			top:0;
			z-index:2;
			text-align:center;
			padding-top:140px;
			h1{
				width:136px;
				font-size:32px;
				margin:0 auto;
				color:#fff;	
				height:52px;
				border-bottom:1px solid #9b9b9b;	
				margin-bottom:30px;
			}
			p{
				font-size:16px;
				color:#a7a7a7;
				line-height:30px;
			}
		}
	}
	
}
.two .two-list{
	&:nth-child(4){
		.zy{
			dd{
				float:left;
				h1,p{
					text-align:left;
				}
				.bt{
					&:after{
						content:"";
						right:0;
						left:0;
					}
				}
			}
			dt{
				float:right;
			}
		}
	}
}
.case-box{
	padding-bottom:74px;
	margin-bottom:74px;
	border-bottom:1px solid #acacac;
}
.three .case-box{
		.case-top{
			height:420px;
			background-size:100% 100%;
			margin-bottom:16px;
			.pos{
				height:420px;
				position:relative;
				.green-bg{
					width:422px;
					height:420px;
					position:absolute;
					right:40px;
					top:0;
					background-color:#23963b;
					opacity:.7;
					z-index:1;
					&:after{
						content:"";
						display:block;
						width:37px;
						height:4px;
						background-color:#fff;
						position:absolute;
						right:29px;
						top:134px;
						z-index:2;
					}
				}
				.pos-txt{
					text-align:right;
					color:#fff;
					position:absolute;
					right:70px;
					bottom:53px;
					z-index:2;
					p{
						line-height:42px;
					}
				}
			}
		}
		&:nth-child(3){
			.case-top{
				background:url("../img/z3_03.png") no-repeat center center;
			}
		}
		&:nth-child(4){
			border:none;
			.case-top{
				background:url("../img/z3_10.png") no-repeat center center;
				.pos{
				height:420px;
				position:relative;
				.green-bg{
					left:40px;
					&:after{
						left:29px;
					}
				}
				.pos-txt{
					text-align:left;
					left:70px;
					bottom:53px;
				}
			}
			}
		}
		

}
.priceBox{
	&:after{
		content:"";
		display:block;
		clear:both;
	}
	dl{
		margin-bottom:72px;
		position:relative;
		float:left;
		margin-right:30px;
		&:after{
			content:"";
			display:block;
			width:67px;
			height:67px;
			background:url("../img/tang_03.png") no-repeat center center;
			background-size:100% 100%;
			background-color:#44b25b;
			position:absolute;
			right:0;
			top:0;
		}
		dt{
			width:270px;
			height:204px;
			margin-bottom:20px;
		}
		dd{
			h2{
				color:#23963b;
				font-size:22px;
				margin-bottom:7px;
			}
			h3{
				font-size:12px;
				color:#aaaaaa;
				margin-bottom:25px;
			}
			p{
				color:#737373;
			}
		}
	}
}
div.BtnBox{
	margin-bottom:109px;
}