.bt {
  color: #151515;
  font-size: 46px;
  height: 73px;
  position: relative;
  text-align: center;
  margin-bottom: 42px;
}
.bt:after {
  content: "";
  display: block;
  width: 35px;
  height: 6px;
  position: absolute;
  right: 50%;
  margin-right: -17px;
  bottom: 0;
  background-color: #23963b;
}
.zy {
  margin-bottom: 120px;
}
.zy:after {
  content: "";
  display: block;
  clear: both;
}
.zy dt {
  width: 520px;
  height: 420px;
  float: left;
  margin-right: 181px;
}
.zy dd .bt {
  font-size: 32px;
  color: #888888;
  text-align: right;
}
.zy dd .bt:after {
  right: 0px;
  margin-right: 0px;
}
.zy dd p {
  color: #6e6e6e;
  text-align: right;
  line-height: 42px;
}
.duan {
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 130px;
}
.duan p {
  line-height: 40px;
}
.tab-cont {
  width: 100%;
}
.tab-cont .nav {
  width: 1091px;
  height: 40px;
  background-color: #acacac;
  margin: 0 auto;
  margin-bottom: 127px;
}
.tab-cont .nav li {
  width: 250px;
  padding-top: 4px;
  position: relative;
  cursor: pointer;
}
.tab-cont section {
  display: none;
  width: 1200px;
  margin: 0 auto;
}
.tab-cont .three {
  display: block;
}
.nav li h1 {
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.nav li p {
  color: #fff;
  position: relative;
  z-index: 2;
}
.nav li .nav-bg {
  width: 250px;
  height: 48px;
  position: absolute;
  left: 0;
  top: -3px;
  z-index: 1;
  background: url("../img/line-icon2.png") repeat-x center center;
  background-size: 100% 100%;
  display: none;
}
.nav li .nav-bg.show {
  display: block;
}
.one .one-top {
  margin-bottom: 170px;
}
.one .one-top:after {
  content: "";
  display: block;
  clear: both;
}
.one .top-left {
  width: 556px;
  height: 663px;
  float: left;
}
.one .top-right {
  float: right;
  padding-right: 22px;
}
.one .top-right .bt {
  text-align: right;
}
.one .top-right .bt:after {
  right: 22px;
  margin-left: 0;
}
.one .top-right p {
  font-size: 16px;
  color: #6e6e6e;
  line-height: 43px;
  text-align: right;
}
.one-bottom {
  margin-bottom: 130px;
}
.one-bottom:after {
  content: "";
  clear: both;
  display: block;
}
.one-bottom .bottom-list {
  width: 282px;
  height: 502px;
  background-color: #fff;
  float: left;
  margin-right: 18px;
  position: relative;
}
.one-bottom .bottom-list:after {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #23963b;
  position: absolute;
  left: 14px;
  top: 18px;
  z-index: 2;
}
.one-bottom .bottom-list .black-bg {
  width: 282px;
  height: 502px;
  background-color: #000;
  opacity: .7;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.one-bottom .bottom-list .list-txt {
  width: 282px;
  height: 502px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  padding-top: 140px;
}
.one-bottom .bottom-list .list-txt h1 {
  width: 136px;
  font-size: 32px;
  margin: 0 auto;
  color: #fff;
  height: 52px;
  border-bottom: 1px solid #9b9b9b;
  margin-bottom: 30px;
}
.one-bottom .bottom-list .list-txt p {
  font-size: 16px;
  color: #a7a7a7;
  line-height: 30px;
}
.two .two-list:nth-child(4) .zy dd {
  float: left;
}
.two .two-list:nth-child(4) .zy dd .bt:after {
  content: "";
  right: 0;
  left: 0;
}
.two .two-list:nth-child(4) .zy dt {
  float: right;
}
.case-box {
  padding-bottom: 74px;
  margin-bottom: 74px;
  border-bottom: 1px solid #acacac;
}
.three .case-box .case-top {
  height: 420px;
  background-size: 100% 100%;
  margin-bottom: 16px;
}
.three .case-box .case-top .pos {
  height: 420px;
  position: relative;
}
.three .case-box .case-top .pos .green-bg {
  width: 422px;
  height: 420px;
  position: absolute;
  right: 40px;
  top: 0;
  background-color: #23963b;
  opacity: .7;
  z-index: 1;
}
.three .case-box .case-top .pos .green-bg:after {
  content: "";
  display: block;
  width: 37px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  right: 29px;
  top: 134px;
  z-index: 2;
}
.three .case-box .case-top .pos .pos-txt {
  text-align: right;
  color: #fff;
  position: absolute;
  right: 70px;
  bottom: 53px;
  z-index: 2;
}
.three .case-box .case-top .pos .pos-txt p {
  line-height: 42px;
}
.three .case-box:nth-child(3) .case-top {
  background: url("../img/z3_03.png") no-repeat center center;
}
.three .case-box:nth-child(4) {
  border: none;
}
.three .case-box:nth-child(4) .case-top {
  background: url("../img/z3_10.png") no-repeat center center;
}
.three .case-box:nth-child(4) .case-top .pos {
  height: 420px;
  position: relative;
}
.three .case-box:nth-child(4) .case-top .pos .green-bg {
  left: 40px;
}
.three .case-box:nth-child(4) .case-top .pos .green-bg:after {
  left: 29px;
}
.three .case-box:nth-child(4) .case-top .pos .pos-txt {
  text-align: left;
  left: 70px;
  bottom: 53px;
}
