.header {
  width: 100%;
  height: 120px;
  background-color: #e9e9e9;
}
.header .header-wraper {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}
.header .header-wraper:after {
  content: "";
  display: block;
  clear: both;
}
.header .header-wraper .header-logo {
  padding-top: 12px;
  float: left;
  margin-right: 30px;
}
.header .header-wraper .nav {
  float: left;
}
.header .header-wraper .nav li{
  width: 112px;
  height: 120px;
  padding-top: 50px;
}
.header .header-wraper .nav li.color {
  background: url("../img/line_icon.png") repeat-x left center;
  background-size: 100% 100%;
}
