iframe{
    display: inherit;
}
*{
    font-family: "微软雅黑";
}

/* 轮播 */
.slideBox{ width:100%; height:100%; overflow:hidden; position:relative;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left: 25%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; width:210px; height:3px; line-height:14px; margin: 0 9px; text-align:center; background:#bdbdbd; cursor:pointer; }
.slideBox .hd ul li.on{ background:#23963b; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0; height: 520px;  }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ height: 100%;  display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
/* .slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  } */
<<<<<<< HEAD
.banner {
  width: 100%;
  height: 520px;
  margin-bottom:60px;
}
.banner img {
  width: 100%;
  height: 100%;
}
/* 导航 */
.nav li {
  text-align: center;
  color: #1f1845;
  float: left;
  margin-right: 22px;
}
.nav li h1 {
  font-size: 16px;
  color: #1f1845;
}
.nav li p {
  color: #757575;
}
.nav li p span {
  -webkit-transform: scale(0.5);
  display: block;
  font-size: 6px;
}
.nav li.color h1 {
  color: #fff;
}
.nav li.color p span {
  color: #fff;
=======
div.BtnBox{
    /* width: 1200px; */
    margin: 0 auto;
    text-align: center;
}
div.BtnBox a.moreBtn{
    width: 119px;
    height: 49px;
    border: solid 1px #8e8d8d;
    display: inline-block;
    text-align: center;
    line-height: 49px;
    color: #8e8d8d;
>>>>>>> 4be619574c5d1891ab116a13a0bfc492b6d703b7
}