/*footer*/

.main{width:1200px;margin:0 auto;}
.footer-nav-box,.footer-info{border-bottom:1px solid rgba(255,255,255,0.2);border-bottom:1px solid #282e33}

.footer-box{background:#1b242b;}
.footer-nav-box{height:60px;padding-top:10px;}

.foot-logo{float:left;margin-top:14px;}
.foot-logo .logo-img{width:116px;height:32px;background-image:url(./images/footer-logo.png);background-repeat:no-repeat;}

.footer-nav li{margin-left:36px;}
.footer-nav a{line-height:60px;font-size:16px;color:#999;}
.footer-nav a:hover{color:#fbc700;}

.footer-info{height:135px;padding:24px 0;position:relative;}
.footer-info dl{margin-top:12px;}
.footer-info dt{height:46px;}
.footer-info dt i{width:46px;height:46px;}
.footer-info dd{color:#999;font-size:14px;line-height:26px;}

.footer-info .f-iphone{margin-right:96px;overflow:hidden;}
.footer-info .f-iphone dt,.footer-info .f-iphone dd{float:left;}
.footer-info .f-iphone dd{line-height:46px;margin-left:14px;}
.f-iphone .icon-phone{display:block;background-position:0 0;}
.f-iphone .kf-num{color:#fbc700;font-size:24px;}

.footer-code{position:absolute;right:0;top:40px;}
.footer-code .code img{width:90px;height:90px;}
.footer-code .code .wz{font-size:14px;color:#999;text-align:center;margin-top:8px;border:1px solid #283036;border-radius:15px;padding:3px 0;}
.footer-code .code2{margin-left:70px;}

.footer-cr{line-height:59px;color:#797979;}